<div class="container">
  <form [formGroup]="filtersForm" (ngSubmit)="submitForm()" ngxsForm="form.details">
    <mat-card >
      <mat-card-header>
          <mat-card-title>
            <h2>NGXS form sync with a store demo 🚀</h2>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        <mat-panel-description>

        </mat-panel-description>
      </mat-card-header>

      <div>
        <mat-form-field>
          <input matInput placeholder="Text" formControlName="text">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="datePicker" placeholder="Choose a date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Select Option" formControlName="select" multiple>
            <mat-option *ngFor="let option of options" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-actions align="end">
          <button mat-raised-button type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div class="hello" >
       <h3>Build with ❤️ by <a href="https://linkedin.com/in/kuncevic" target="_blank">Aliaksei Kuncevič</a> </h3>
       <h3>Follow me <a href="https://twitter.com/kuncevic" target="_blank">https://twitter.com/kuncevic</a> 🤓</h3>
  </div>
</div>
